.header-container {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4C525A;
  color: white;
  font-size: 1.1rem;
  width: 100%;
  height: 4rem;

  .header__title {
    margin-left: 30px;
  }

  .header__new-task-btn {
    transition: box-shadow .5s ease;
    margin-right: 30px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;

     &:hover {
      box-shadow: inset 0 0 0 1.5px white;
    }
  }
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(55, 57, 55, 0.797);
}

.modal {
  border-radius: 10px;
  width: 40%;
  background:#4C525A;
  outline: none;
}

