.column-container {
    background-color: yellow;
    width: 700px;
    height: 98%;
    margin: 5px;

  .column-title {
    text-align: center;
  }

  .column {
    width: 95%;
    height: 94%;
    margin: 10px auto;
    display: flex;
  }
}
